.sidebar {
	background: lightgray;
	position:absolute;
    left:0;
	top:0;
	bottom: 0;
	width: 25%;
	padding: 3rem;
	font-family: sans-serif;
}

.sidebar .title {
	font-size: 24px;
}

.sidebar .new-room {
	font-size: 14px;
	border: 1px;
	padding: 5px;
	background-color: gray;
}
.sidebar .new-room:hover {
	background-color: white;
	cursor: pointer
}

.sidebar .room-names {
	font-size: 18px;
	padding-top: 8px;
}

.sidebar .room-names:hover {
	color: white;
	cursor: pointer
}

.modal-header .modal-title {
	font-size: 20px;
	font-family: sans-serif;
}

.modal-footer {
	height: 5rem
}

.modal-footer .modal-btn-cancel {
	position: absolute;
	left: 20px;
	text-align: center;
	width: 50%;
	padding: 5px;
}
.modal-footer .modal-btn-create {
	position: absolute;
	right: 20px;
	text-align: center;
	width: 50%;
	padding: 5px;
}

.modal-footer .modal-btn-cancel:hover {
	background-color: gray;
	cursor: pointer
}

.modal-footer .modal-btn-create:hover {
	background-color: gray;
	cursor: pointer
}

.include {
	position: fixed;
	top: 0;
	right: 0;
	width: 75%;
}
.include .room-title {
	margin-top: 3rem;
	margin-left: 5rem;
	font-size: 20px
}

.message-display {
	background-color: beige;
	padding: 3rem;
}

.username {
	font-weight: 700;
}

.time {
	position: fixed;
	right: 5rem;
}





















