<section ng-controller="RoomCtrl as room">
	
	<div class="sidebar">
		<div class="title">
			{{ room.title }}
			<span class="new-room" ng-click="room.open()">
				New Room
			</span> 
		</div>
		<div class="room-names" ng-repeat="r in rooms">
			<span ng-click="room.roomClick(r)">
				{{ r.$value }}
			</span>
		</div>
	</div>
	<section>
		<main>
			<div class="include">
				<div class="room-title">
				{{ roomTitle }}
				</div>
				<div class="message-display" ng-repeat="m in messages">
					<div class="username">
						{{ m.username }}
					</div>
					<div class="content">
						{{ m.content }}
					</div>
					<div class="time">
						{{ m.sentAt }}
					</div>
				</div>
			</div>
		</main>
	</section>
</section>
